.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
packrat/src/
*.xpd
# grabbed from expyriment github
*.swp
docs
data/input/
data/output/
results/
*.err
*.out
tags
# Ignore generated report
src/architecture_of_multiattribute_choice.html
